.DS_Store
app/node_modules
/app/dist

/api/vendor*

# ignora tudo no diretório "mysql/data"
docker/mysql/data/

# ignora tudo no diretório "nginx/logs"
docker/nginx/logs/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
